body {
    font-family: 'Lobster Two', cursive;
    font-size: 20px;
    font-weight: narmal;
    color: #ffffff;
}


/* styles.css */

/* Header Styles */
.header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Navigation Styles */
.navbar {
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .navbar-brand {
    font-weight: bold;
}
.h2{
    background-color: #007bff;
    color: #fff;
}
.pcolor{
    background-color: #007bff;
    color: #fff;
}

/* Navbar Styles */
.navbar {
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .navbar-nav .nav-item {
    margin-right: 20px;
}

.navbar .navbar-nav .nav-link {
    color: #333;
}

.navbar .navbar-nav .nav-link:hover {
    color: #007bff;
}

/* styles.css */

.navbar {
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
    font-size: 20px;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    color: #0056b3 !important;
}

/* Main Content Styles */
.container55 {
    padding-top: 50px;
    max-width: 1000px;
    margin: 10px auto;
    padding: 20px;
    border: 3px solid #0056b3;
    background-color: #59ceee;
    box-shadow: 0px 2px 4p
}
.boxcont{
    border:1px solid #0056b3;
    background-color: #a5e8fb;

}

.card {
    border: none;
    box-shadow: 0px 2px 4px rgba(23, 38, 152, 0.1);
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #080d12;
    background-color: #736dea;
}

.card-text {
    font-size: 1.25rem;
    color:#080d12;
    background-color: #736dea;
}

.btn-primary {
    background-color: #a5e8fb;
    border: none;
    font-size: 1.25rem;
}

.btn-primary:hover {
    background-color: #736dea;
    border :#736dea /* Change the background color */
}
.card-body {
    background-color: #a5e8fb; /* Change the background color */
    color: #020202;
}
.text center{
    color:#fff;
}

/* Footer Styles */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer p {
    margin: 0;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}