/* styles.css */

/* Header Styles */
header {
    background-color: #007bff;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

header p {
    font-size: 1.25rem;
    margin-bottom: 40px;
}

header a.btn {
    background-color: #fff;
    color: #007bff;
    padding: 10px 20px;
    font-size: 1.25rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

header a.btn:hover {
    background-color: #0056b3;
    color: #fff;
}

/* Navbar Styles */
.navbar {
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .navbar-nav .nav-item {
    margin-right: 20px;
}

.navbar .navbar-nav .nav-link {
    color: #333;
}

.navbar .navbar-nav .nav-link:hover {
    color: #007bff;
}

/* styles.css */

.navbar {
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
    font-size: 20px;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    color: #0056b3 !important;
}

/*font*/
body {
    font-family: 'Lobster Two', cursive;
    font-size: 20px;
    font-weight: narmal;
    color: #ffffff;
}





/* Style for the logo image */





/* styles.css */

/* Header Styles */





/* Profile Section Styles */
.container66 {
    padding-top: 50px;
    max-width: 600px;
    margin: 10px auto;
    padding: 25px;
    border: 1px solid #4651ef;
    background-color: #80cef6;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

}
/*.col4{
    padding-top: 50px;
    max-width: 600px;
    margin: 10px auto;
    padding: 25px;
    border: 1px solid #4651ef;
    background-color: #fff;
}*/
.col5{
    color:black;
    background-color: aqua;
}

.profile-image {
    max-width: 100%;
    border-radius: 50%;
}

.profile-details h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.profile-details p {
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.profile-details button {
    background-color: #007bff;
    color: white;
    border: none;
    font-size: 3.25rem;
}

.profile-details button:hover {
    background-color: #0056b3;
}
.btn-primary{
    color: #4651ef;
    
    background-color: aqua;
}
.btn-primary:hover{
    color: #0056b3;
}
/* Footer Styles */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer p {
    margin: 0;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

